:root {
  --primary-color: rgb(25, 8, 66);
  --secondary-color: deeppink;
}

html {
  font-family: 'Nanum Gothic script=all', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

/* ================ PARTICLES ================ */
#particles {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
}

/* ================ HERO ================ */
#hero {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 25vh;

  padding: 24px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  color: white;
}

/* remove highlight from selected text in hero */
#hero h1::selection, #hero span::selection, #hero i::selection {
  background: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

#hero i {
  color: var(--secondary-color);
}

@media only screen and (max-width: 700px) {
  #hero {
    align-items: flex-start;
    top: 15vh;
  }

  h2 span {
    display: block;
  }
}

/* ================ TESTIMONIALS ================ */
#testimonials {
  background-color: white;
  min-height: 500px;
  width: 100vw;

  padding: 16px;
  color: var(--primary-color);
}

#testimonials .quote-container {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  padding: 12px 0;
}

#testimonials h1 {
  margin: 16px 0;
  text-align: center;
}

#testimonials img {
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

/* https://leaverou.github.io/bubbly/ */
.speech-bubble {
	position: relative;
	border: 0.4rem solid var(--primary-color);
  border-radius: 0.4rem;
  width: 100%;
  max-width: 30rem;

  font-size: 2rem;
  padding: 0 16px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.5rem solid transparent;
	border-right-color: var(--primary-color);
	border-left: 0;
	border-top: 0;
	margin-top: 0.3rem;
	margin-left: -1.9rem;
}

.speech-bubble p {
  margin: 0;
}

.speech-bubble .quote {
  font-weight: 800;
}

.speech-bubble .author {
  text-align: right;
}

@media only screen and (max-width: 700px) {
  #testimonials .quote-container {
    justify-content: flex-start;
  }

  #testimonials img {
    width: 5rem;
    height: 5rem;
  }

  .speech-bubble {
    font-size: 1.3rem;
    max-width: 45vw;
  }
}

/* ================ FEATURES ================ */
#feature-set {
  background-color: var(--primay-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

#feature-set > div {
  width: 200px;
  height: 200px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;

  color: white;
  text-align: center;
}

#feature-set > div > i.material-icons {
  font-size: 8rem;
}

#feature-set > div > p {
  margin: 0;
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 700px) {
  #feature-set {
    flex-flow: column nowrap;
  }
}
